{% extends "layout.html" %}
{% block content %}

<div class="container">
    
<div class="jumbotron p-2 m-2">
    <h2 class="display-6" style="font-family: 'Exo', sans-serif;">File name is {{ fname }}</h2>
</div>



<!-- Section Sample Data display-->
<section id="sample" class="p-3 m-3">
    
    <div class="container">
        <div class="jumbotron pb-2 mb-2">
            <h2 class="display-6" style="font-family: 'Exo', sans-serif;">Sample {{sample.samplesize}}</h2>
        </div>

    
        <div class="table-responsive">
            <table class="table table-striped table-hover">
                <tr>
                    {% for n in sample.columns %}
                        <th class="font-weight-bold">{{n}}</th>
                    {% endfor %}
                </tr>
                {% for n in sample.sampledata %}
                <tr>
                   {% for i in n %}
                        <td class="font-weight-bold">{{i}}</td>
                    {% endfor %} 
                </tr>
                    {% endfor %}
                <tr>
                    <td colspan="{{sample.number_of_columns}}" class="text-center font-weight-bold bg-success"> 
                        Total {{sample.length}} X {{sample.number_of_columns}}
                    </td>
                </tr>
            </table>
        </div>
    </div>

</section>
<!---------End------------>

<hr style="border: 4px solid rgb(71, 71, 71); border-radius: 5px;">
<!--------Section Quick Report--------->

<section class="p-3 m-3">
    <div class="container">
        <div class="jumbotron pb-2 mb-2">
            <h2 class="display-6" style="font-family: 'Exo', sans-serif;">Quick Statistics</h2>
        </div>

        <div class="table-responsive">
            <table class="table table-striped table-hover">

                <tr>
                    <th> </th>
                    {% for n in quick.numerical_col %}
                        <th class="font-weight-bold">{{n.upper()}}</th>
                    {% endfor %}
                </tr>
                {% for variable, data in quick.zipped%}
                <tr>
                    <th class="font-weight-bold bg-info">{{ variable.upper() }}</th>
                    {% for values in data %}
                    <td>{{values}}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </table>
        </div>

    </div>
</section>


<!---------End ----------->

<hr style="border: 4px solid rgb(71, 71, 71); border-radius: 5px;">

<!-------Section Correlation-------->

<section class="p-3 m-3">
    <div class="container">
        <div class="jumbotron pb-2 mb-2">
            <h2 class="display-6" style="font-family: 'Exo', sans-serif;">Correlation Between Variables</h2>
        </div>

        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <div id="chart" ></div>
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>
</section>


<!---------End---------->
</div>

<script>
const data1 = {{ corr|tojson }}
console.log(data1)
corr(data1)
</script>

{% endblock %}