{% extends "layout.html" %}
{% block content %}


<!-- ------------Landing page ------------ -->
   <section class="banner">
    
        <div class="jumbotron text-center content">
            <div class="content">
                <h1 class="display-3" style="font-family: 'Exo', sans-serif;"> FAST EDA</h1>
                <p style="line-height: 20px;  font-family: 'Major Mono Display', monospace;" class="lead">One-Click Exploratory Data Analysis</p>
                <a href="#upload"><button class="btn-rounded btn btn-success">Get Started</button></a>
            </div>
        </div>
    </section>
<!-- ------------Landing page ending ------------ -->

<!-- ------------File Uploading------------ -->

    <section class="m-4 p-4" style="background-color: rgb(238, 238, 238);" id = "upload">
        <div class="container text-center">

            <div class="jumbotron">
                <h2 class="display-7" style="line-height: 20px;  font-family: 'Major Mono Display', monospace;"> Upload File</h1>
                <p>Format supported: csv, txt, xlsx</p>
            </div>
            
            <form>
                <div class="form-group">
                    <input type="file" class="btn" id="exampleFormControlFile1">
                </div>

                <div class="form-group pt-3">
                    <button type="submit" class="btn btn-rounded btn-primary">Let's Go</button>
                </div>
                
            </form>

        </div>
    </section>    

{% endblock %}
