*.vscode
*__pycache__
*static/dataset
static/Images/WYOe.gif
static/js/bin.py
Untitled.ipynb
.gitignore
.ipynb_checkpoints/Untitled-checkpoint.ipynb
workout.ipynb
.ipynb_checkpoints/workout-checkpoint.ipynb
