*.vscode
*__pycache__
*.ipynb_checkpoints
static/Images/WYOe.gif
static/js/bin.py
Untitled.ipynb
.gitignore
.ipynb_checkpoints/Untitled-checkpoint.ipynb
workout.ipynb
.ipynb_checkpoints/workout-checkpoint.ipynb
processed.csv
setup.py
build
dist
fastprocess.egg-info