{% extends "layout.html" %}
{% block content %}

<div class="container" style="min-height: 90vh;">

<div class="jumbotron text-center p-3 m-3">
    <p class="h1" style="font-family: 'Exo', sans-serif;">Advance Action Center (beta)</p>
</div>

<div class="p-3 m-3">
    <div class="row">
        <div class="col-md-6 col-sm-12 mt-md-5 mt-sm-0">
            <p class="h3 d-flex justify-content-center" style="font-family: 'Exo', sans-serif;">Choose Variable: </p>
             <div class="d-flex justify-content-center">
                <select class="ui search dropdown w-25" id='select_var' onchange="var_change()">
                    <option value="None">None</option> 
                    {% for n in sample.columns %}
                    <option value="{{n}}" id="{{n}}" class="">{{n}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>

        <div class="col-md-6">
            <table class="table">

                <tr>
                    <th class="font-weight-bold">Dtype</th><td id='dtype'>None</td>
                </tr>

                <tr>
                    <th class="font-weight-bold">Non-Null Count</th><td id='count'>None</td>
                </tr>

                <tr>
                    <th class="font-weight-bold">Total Unique</th><td id='unique'>None</td>
                </tr>
                
            </table>
        </div>
    </div>

</div>



<section id = 'IndAdv' class="p-3 m-3" style="background-color: #00897B; min-height: 90vh; display: none;">
    <div class="container">
        <p class="h3 text-light text-center pt-3 pb-md-5 pb-sm-2 mb-sm-2 mb-md-5" style="font-family: 'Exo', sans-serif;" id='var_name'></p>
        <div class="row">
            


            <div class="col-md-6">

                <p class="h3 d-flex justify-content-center mt-md-5 mt-sm-0 text-light" style="font-family: 'Exo', sans-serif;">Replacer</p>
                <div class="d-flex justify-content-center">
                    <div class="ui form">
                        <div class="field">
                            <input required type="text" placeholder="to_replace" id = 'replacer' style="max-width: 100%;">
                        </div>
                    </div>
                </div>
                
            </div>




            <div class="col-md-6">
                
                <form class="ui form" id='form_replace'>
                    <div class="field">
                        <label>Replace</label>
                        <input required type="text" name="first-name" id='replace_to' placeholder="to value" style="max-width: 50%;">
                    </div>
                    <div class="field">
                        <div class="ui checkbox">
                            <input type="checkbox" tabindex="0" name = 'regrex', value = 'regrex' class="hidden" id='reg_check'>
                            <label>Regrex</label>
                        </div>
                    </div>
                    <button class="ui button" type="submit" id='replace_button'>Okay</button>
                </form>
            </div>



        </div>
    </div>
</section>

</div>



<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
<script>
$('.ui.dropdown').dropdown();
$('.ui.checkbox').checkbox();
</script>


<script>

$('#form_replace').on('submit',(function(e) {
        e.preventDefault();
        $('#replace_button').css('display', 'none');
        replacer_ = $('#replacer').val()
        value = $('#select_var').val();
        to = $('#replace_to').val();
        reg = $('#reg_check').is(":checked");
        $.ajax({

            type:'GET',
            url: '/replace',
            data:{'rep': replacer_,'column': value, 'to': to, 'reg': String(reg)},
            contentType: "application/json",
            success: function(data){
                alert(data);
                console.log(data);
                $('#replace_button').css('display', 'block');
                var_change();
            },
            error: function(data){
                alert(data);
                $('#replace_button').css('display', 'block');
            }

        });
}));

    

    function var_change() {
        $('#select_var').css("display", "none");
        value = $('#select_var').val();

        $('#var_name').html(value);
        $('#select_var').css("display", "block");

        if(value != 'None'){
            $.ajax({
                type: 'get',
                async: true,
                url: '/info',
                data: {'column': value},
                contentType: "application/json",
                success: function(data){
                    console.log(data);
                    $('#dtype').html(data.dtype);
                    $('#count').html(data.count);
                    $('#unique').html(data.unique);
                    $('#replacer').empty();
                    // $("#replacer").append("<option id='ALL' value='ALL*' class='font-weight-bold'>###Replace ALL###</option>")
                //     data.unique_values.forEach(element => {
                //             var v = '<option id='+element+' value='+ element+'>'+element+'</option>';
                //     $("#replacer").append(v)
                    $("#IndAdv").css('display', 'block')
                // });
          
            },
                error: function(data){
                    alert(data);
            }
        });
        }
        else{
            $('#dtype').html('None');
            $('#count').html('None');
            $('#unique').html('None');
        }
        } 
</script>
{% endblock %}